<h1>
  <a href="/apps/<%= @app['name'] %>">
    <abbr title="<%= @app['uuid'] %>">
      <%= @app['name'] %>
  </abbr>
  </a>
</h1>

<dl>
<% @app.each do |key, value| %>
  <dt><%= key %><dt><dd><%= value %></dd>
<% end %>
</dl>

<h1>Recent Activity</h1>
<ul>
<% @feed_items.each do |item| %>
  <li><%= item['body']['text'] %></li>
<% end %>
</ul>
